// general
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: $siteBg;
  font-family: "Ruberoid", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: $white;
  margin: 0;
}

// visually-hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}
