@mixin fontSizes($size) {
  margin-top: 0;
  line-height: normal;

  // 96
  @if $size == 96 {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 1.92px;
  }
  // 65
  @if $size == 65 {
    font-size: 65px;
    font-weight: 800;
  }
  // 45
  @else if $size == 45 {
    font-size: 45px;
    font-weight: 800;
  }
  // 32
  @else if $size == 32 {
    font-size: 32px;
    font-weight: 700;
  }
  // 22
  @else if $size == 22 {
    font-size: 22px;
    font-weight: 500;
  }
  // 20
  @else if $size == 20 {
    font-size: 20px;
    font-weight: 400;
  }
  // 19
  @else if $size == 19 {
    font-size: 19px;
    font-weight: 400;
  }
  // 17
  @else if $size == 17 {
    font-size: 17px;
    font-weight: 600;
  }
}

@mixin tealTextGradient {
  background: $tealGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin textShadow($px: 30px) {
  text-shadow: 0px 0px $px rgba($color: $teal, $alpha: 0.3);
}
