@mixin fontSizes($size) {
  margin-top: 0;
  line-height: normal;

  // 96
  @if $size == 96 {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 1.92px;
  }
  // 65
  @if $size == 65 {
    font-size: 65px;
    font-weight: 800;

    @media only screen and (max-width: $desktop) {
      font-size: 51px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 42px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 36px;
    }

    @media only screen and (max-width: $mobileL) {
      font-size: 28px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 24px;
    }
  }
  // 55
  @if $size == 55 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.1;

    @media only screen and (max-width: $desktop) {
      font-size: 50px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 44px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 40px;
    }

    @media only screen and (max-width: $mobileL) {
      font-size: 36px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 30px;
    }
  }
  // 45
  @else if $size == 45 {
    font-size: 45px;
    font-weight: 800;

    @media only screen and (max-width: $desktop) {
      font-size: 38px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 32px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 28px;
    }

    @media only screen and (max-width: $mobileL) {
      font-size: 22px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 18px;
    }
  }
  // 32
  @else if $size == 32 {
    font-size: 32px;
    font-weight: 700;

    @media only screen and (max-width: $desktop) {
      font-size: 28px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 24px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 20px;
    }

    @media only screen and (max-width: $mobileL) {
      font-size: 17px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 15px;
    }
  }
  // 26
  @else if $size == 26 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.23;

    @media only screen and (max-width: $desktop) {
      font-size: 25px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 24px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 23px;
    }

    @media only screen and (max-width: $mobileL) {
      font-size: 22px;
    }
  }
  // 22
  @else if $size == 22 {
    font-size: 22px;
    font-weight: 500;

    @media only screen and (max-width: $desktop) {
      font-size: 20px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 18px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 15px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 13px;
    }
  }
  // 20
  @else if $size == 20 {
    font-size: 20px;
    font-weight: 400;

    @media only screen and (max-width: $desktop) {
      font-size: 19px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 17px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 15px;
    }
  }
  // 19
  @else if $size == 19 {
    font-size: 19px;
    font-weight: 400;

    @media only screen and (max-width: $desktop) {
      font-size: 19px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 17px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 15px;
    }

    @media only screen and (max-width: $mobileL) {
      font-size: 13px;
    }
  }
  // 17
  @else if $size == 17 {
    font-size: 17px;
    font-weight: 600;

    @media only screen and (max-width: $desktop) {
      font-size: 16px;
    }

    @media only screen and (max-width: $tabletL) {
      font-size: 15px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 14px;
    }

    @media only screen and (max-width: $mobileL) {
      font-size: 13px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 12px;
    }
  }
  // 15
  @else if $size == 15 {
    font-size: 15px;
    font-weight: 400;
  }
}

@mixin tealTextGradient {
  background: $tealGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin shadow($px: 30px) {
  text-shadow: 0px 0px $px rgba($color: $teal, $alpha: 0.3);
}
