.swiper-wrapper {
  align-items: stretch;
  box-sizing: border-box;
  padding: 40px 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}

.swiper-button {
  &-next,
  &-prev {
    outline: none;

    &::after {
      color: $teal;
    }
  }
}

.swiper-pagination-bullet {
  outline: none;

  &-active {
    background-color: $teal !important;
  }
}
