// breakpoints
$container: 1354px;
$desktop: 1240px;
$tabletL: 992px;
$tablet: 768px;
$mobileL: 576px;
$mobile: 475px;

// colors
$black: #000;
$white: #fff;
$siteBg: #161617;
$teal: #2eecc5;
$grey: #313134;
// gradient
$tealGradient: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
$lineDividerGradient: linear-gradient(90deg, rgba(42, 188, 158, 0) 0%, #2abc9e 48.65%, rgba(42, 188, 158, 0) 100%);
$greyGradient: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);