// breakpoints
$container: 1354px;
$desktop: 1240px;
$tabletL: 992px;
$tablet: 768px;
$mobileL: 576px;
$mobile: 475px;

// colors
$black: #000;
$white: #fff;
$siteBg: #161617;
$teal: #2eecc5;
// gradient
$tealGradient: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
