.button {
  border: none;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
  transition: $transition;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--teal {
    @extend .button;
    @include fontSizes(20);

    padding: 17px 33px;
    border: 1.5px solid $teal;
    border-radius: 49px;
    background-color: rgba($color: $teal, $alpha: 0.1);
    box-shadow: 0px 0px 62px rgba($color: $teal, $alpha: 0.1);

    @media only screen and (max-width: $tablet) {
      padding: 13px 25px;
    }

    &-mini {
      @extend .button--teal;
      @include fontSizes(17);
      padding: 12px 24px;
    }
  }

  &--rect {
    @extend .button;
    padding: 16px 43px;
    box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.2);
    border: 1px solid $teal;
    border-radius: 4px;
    background-color: #161617;
    position: relative;
  }

  &--with-icon {
    display: inline-flex;
    align-items: center;

    .button__text {
      margin-right: 12px;
      transition: $transition;
    }

    .button__icon {
      width: 9px;
      height: 16px;
    }
  }
}
