.button {
  border: none;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  padding: 0;
  background-color: transparent;
  color: inherit;

  &--teal {
    @extend .button;

    padding: 17px 43px;
    border: 1.5px solid $teal;
    border-radius: 49px;
    background-color: rgba($color: $teal, $alpha: 0.1);
    box-shadow: 0px 0px 62px rgba($color: $teal, $alpha: 0.1);
  }
}
