.contact {
  padding: 102px 0;
  height: 100vh;
}

.contact__title {
  @include fontSizes(65);
  @include tealTextGradient;
  @include shadow(40px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.contact__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 11px;
}

.contact__link-icon {
  width: 24px;
  height: 24px;
}
