.header {
  padding: 50px 0;
  transition: $transition;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  @media only screen and (max-width: $desktop) {
    padding: 40px 0;
  }

  @media only screen and (max-width: $tabletL) {
    padding: 30px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 24px 0;
  }

  &--sticky {
    background-color: rgba($color: #1d1d1e, $alpha: 0.97);
    padding: 15px 0;
    box-shadow: 0px 0px 12px rgba($color: $teal, $alpha: 0.1);
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $tablet) {
    display: block;
    position: relative;
  }
}

.header__left {
  @media only screen and (max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav-toggler {
  display: none;
  outline: none;

  @media only screen and (max-width: $tablet) {
    display: flex;
  }
}

.header__nav-toggler-img {
  max-width: 36px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 0px 12px rgba($color: $teal, $alpha: 0.4));

  @media only screen and (max-width: $mobileL) {
    max-width: 32px;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 28px;
  }
}

.logo {
  flex-shrink: 0;
  display: flex;
  margin-right: 25px;

  @media only screen and (max-width: $desktop) {
    margin-right: 18px;
  }

  @media only screen and (max-width: $tablet) {
    margin-right: 0;
  }
}

.logo__img {
  max-width: 100px;
  width: 100%;
  height: auto;

  @media only screen and (max-width: $desktop) {
    max-width: 92px;
  }

  @media only screen and (max-width: $tabletL) {
    max-width: 82px;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 72px;
  }

  @media only screen and (max-width: $mobileL) {
    max-width: 67px;
  }
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 68px;

  @media only screen and (max-width: $desktop) {
    gap: 40px;
  }

  @media only screen and (max-width: $tabletL) {
    gap: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 35px;

  @media only screen and (max-width: $desktop) {
    gap: 28px;
  }

  @media only screen and (max-width: $tabletL) {
    gap: 21px;
  }

  @media only screen and (max-width: $tablet) {
    gap: 0;
    position: fixed;
    top: -100%;
    left: 20px;
    right: 20px;
    background-image: $greyGradient;
    flex-direction: column;
    padding: 36px 0 12px;
    border-radius: 0 0 20px 20px;
    transition: $transition;

    &.nav--open {
      top: 0;
    }
  }

  @media only screen and (max-width: $mobileL) {
    left: 12px;
    right: 12px;
  }
}

.nav__close-btn {
  display: none;
  outline: none;

  @media only screen and (max-width: $tablet) {
    padding: 0 16px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-self: flex-start;
  }
}

.nav__close-btn-img {
  max-width: 36px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 0px 12px rgba($color: $teal, $alpha: 0.4));

  @media only screen and (max-width: $mobileL) {
    max-width: 32px;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 28px;
  }
}

.nav__link {
  @include fontSizes(20);
  display: inline-block;
  padding: 4px;
  transition: $transition;

  &.nav__link--active {
    @include shadow;
    color: $teal;
  }

  &:hover {
    opacity: 0.8;

    @media only screen and (min-width: $tabletL) {
      color: rgba($color: $teal, $alpha: 0.6);
    }
  }

  &:active {
    @media only screen and (min-width: $tabletL) {
      opacity: 0.6;
    }
  }

  @media only screen and (max-width: $tablet) {
    font-size: 20px;
    font-weight: 700;
    color: $teal;
    display: block;
    width: 100%;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 11px;
    }

    &.nav__link--active {
      background-color: #2f9782;
    }
  }
}

.nav__link,
.header__order-btn {
  cursor: pointer;
  user-select: none;
}

.header__order-btn {
  font-weight: 400;

  @media only screen and (max-width: $tabletL) {
    display: none;
  }
}
