.hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.hero__container {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.hero__title {
  @include fontSizes(65);
  @include tealTextGradient;
  @include textShadow(40px);
  margin-bottom: 0;
  margin-right: auto;
  text-transform: uppercase;
}

.hero__subtitle {
  @include fontSizes(45);
  margin-bottom: 25px;
  @include tealTextGradient;
  text-transform: uppercase;
}

.hero__subtitle-inner {
  @include textShadow(35px);
}

.hero__desc {
  @include fontSizes(22);
  margin-bottom: 25px;
  color: rgba($color: $white, $alpha: 0.65);
  max-width: 672px;
}

.hero__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__link {
  color: rgba($color: $white, $alpha: 0.4);
}

.hero__image-wrapper {
  position: absolute;
  bottom: 0;
  right: -170px;
  width: 650px;
  height: 650px;
  background: url("../assets/images/hero-circular.svg") no-repeat center / contain;
}

.hero__image {
  max-width: 603px;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: -60px;
}

.hero__divider {
  width: 100%;
  height: 5px;
  background-image: $lineDividerGradient;
}

.hero__btn-text {
  @include fontSizes(19);
}
